<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Force start with HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Remove WWW
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

  # Force Trailing Slash (exclude real files)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !(.+)/$
  RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1/ [L,R=301]

  # SPA Routing: If not a file or directory, enhance to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
